<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2022
        <a href="https://gitlab.cs.ui.ac.id/ariqsyahalam" target="_blank">@ariqsyahalam</a>
        <a href="https://gitlab.cs.ui.ac.id/putri.martha" target="_blank">@putri.martha</a>
        <a href="https://gitlab.cs.ui.ac.id/luthmilla.sari" target="_blank">@luthmilla.sari</a>
        <a href="https://gitlab.cs.ui.ac.id/naura.saffa" target="_blank">@naura.saffa</a>
        <a href="https://gitlab.cs.ui.ac.id/salma.karimah" target="_blank">@salma.karimah</a>.</strong>
    All rights reserved.
</footer>